[submodule "HOR/PatternsCollection-master/boost"]
	path = HOR/PatternsCollection-master/boost
	url = https://github.com/boostorg/boost
[submodule "HOR/PatternsCollection-master/curl"]
	path = HOR/PatternsCollection-master/curl
	url = https://github.com/curl/curl
[submodule "HOR/PatternsCollection-master/openssl"]
	path = HOR/PatternsCollection-master/openssl
	url = https://github.com/openssl/openssl
